body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 60px 0;
}

.section:nth-of-type(even) {
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea, #contact-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}








.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.schedule-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.schedule-table th,
.schedule-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.schedule-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.schedule-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.schedule-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
